.button {
  flex-shrink: 0;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  cursor: pointer;
  color: var(--primary, #2a6cea);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  color: var(--carousel-btn-color, #c1c7cd);
}

@media (width < 1024px) {
  .button {
    display: none;
  }
}
