.dot {
  display: block;
  appearance: none;
  background-color: #c1c7cd;
  touch-action: manipulation;
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.dotSelected {
  background-color: var(--primary, #2a6cea);
}
