.section {
  padding: 57px 0 45px;
  background-color: var(--section-accent-bg, #f5f7f9);
}

.title {
  margin-bottom: 7px;
}

@media (width <= 375px) {
  .section {
    padding: 27px 0 37px;
  }

  .title {
    margin-bottom: 0;
  }
}
