:root {
  --primary: #2a6cea;
  --secondary: #eceff2;
  --light-color: #fff;
  --main-text-color: #191c1f;
  --secondary-text-color: #5e646a;
  --font-family: 'Graphik', sans-serif;
  --main-font-size: 16px;
  --desktop-width: 1216px;
  --btn-hover-color: #397dff;
  --carousel-btn-color: #c1c7cd;
  --section-accent-bg: #f5f7f9;
  --success-color: #24cd81;
  --error-color: #f13636;
  --border-input-color: #c2c8cd;
  --label-input-color: #83898f;
}
