.carousel {
  max-width: 100%;
  margin: auto;
  --slide-spacing: 27px;
  --slide-size: 33%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.viewport {
  overflow-x: hidden;
  padding: 25px 0;
  margin-bottom: 25px;
}

.container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  flex-shrink: 0;
  display: flex;
  gap: 17px;
}
