.title {
  margin-bottom: 61px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

@media (width <= 768px) {
  .title {
    margin-bottom: 42px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media (width <= 375px) {
  .title {
    margin-bottom: 20px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
