.section {
  height: 100dvh;
  position: relative;
  background: url('../../assets/banner-image.webp') no-repeat center / cover;
  color: var(--light-color, #fff);
}

.section::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  background-color: var(--primary, #2a6cea);
  opacity: 0.8;
}

.container {
  position: relative;
  z-index: 1;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color ease-in-out 0.3s;
}

.menuIsOpen {
  color: var(--main-text-color, #191c1f);
  transition: all ease-in-out 0.3s;
}

@media (width <= 768px) {
  .header {
    padding: 9px 0;
  }
}
